# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# ML Models & Weights
# =========================
*.h5
*.!keras
*.pt
*.pth
*.joblib
*.pkl

# =========================
# Dataset (VERY IMPORTANT)
# =========================
dataset/
data/
/train/
/valid/
/test/
/RRDI test images/
/best accuracy dataset/
*.csv
*.xlsx

# =========================
# Logs & Outputs
# =========================
logs/
*.log
outputs/
results/
checkpoints/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Node / Next.js (Frontend)
# =========================
node_modules/
.next/
out/
build/

# =========================
# Misc
# =========================
*.tmp
*.bak